<?xml version="1.0" encoding="utf-8"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
  <configSections>
    <sectionGroup name="system.web">
      <section name="sanitizer" requirePermission="false" type="AjaxControlToolkit.Sanitizer.ProviderSanitizerSection, AjaxControlToolkit" />
    </sectionGroup>
  </configSections>
  <connectionStrings>
    <!--DB Prod: 10.3.3.119-->
    <!--DB Prod: 192.168.213.245 
    Desarrollo         
       -->
    <add name="ApplicationServices" connectionString="Data Source=192.168.213.245;Persist Security Info=True;Password=F34#6D6*;User ID=SQL_Fonade;Initial Catalog=Fonade; Max Pool Size=300;Pooling=true;" providerName="System.Data.OleDb" />
    <add name="SubComponent" connectionString="Data Source=192.168.213.245;Persist Security Info=True;Password=F34#6D6*;User ID=SQL_Fonade;Initial Catalog=FonadeSE4; Max Pool Size=300;Pooling=true;" providerName="System.Data.OleDb" />

  <!--Produccion      
    <add name="ApplicationServices" connectionString="Data Source=10.3.3.119;Persist Security Info=True;Password=F34#6D6*;User ID=SQL_Fonade;Initial Catalog=Fonade; Max Pool Size=300;Pooling=true;" providerName="System.Data.OleDb" />
    <add name="SubComponent" connectionString="Data Source=10.3.3.119;Persist Security Info=True;Password=F34#6D6*;User ID=SQL_Fonade;Initial Catalog=FonadeSE4; Max Pool Size=300;Pooling=true;" providerName="System.Data.OleDb" />
    --> 
  
  </connectionStrings>
  <appSettings>
    <add key="vs:EnableBrowserLink" value="false" />
    <add key="TamanoPagina" value="30" />
       <!--  Desarrollo     
    <add key="RutaWebSite" value="http://190.131.233.22/" /> 
    <add key="RutaIP" value="\\192.168.213.247\" />    
    <add key="RutaWebSite" value="http://192.168.213.247/" />
     -->
    
    <add key="RutaIP" value="D:\zPruebasDocumentos\" />
    <add key="RutaWebSite" value="http://localhost:5153/" />
    <add key="RutaSFTPSena" value="D:\zPruebasDocumentos\Sena" />
    
<!--
    Produccion  
    <add key="RutaIP" value="\\10.3.3.118\"/>
     <add key="RutaWebSite" value="http://www.fondoemprender.com:8080/" />
     <add key="RutaSFTPSena" value="\\10.4.4.112\Sena" />
 -->  
   
    <!--Variables hello declaradas en el desarrollo de modernización hello -->
    <add key="SMTP" value="mail.fondoemprender.com" />
    <add key="SMTPUsuario" value="info@fondoemprender.com" />
    <add key="SMTPPassword" value="Fonade2016" />
    <add key="SMTP_UsedPort" value="25" />
    <add key="SaveLogin" value="1" />
    <add key="ExpireTime" value="6" />
    <add key="VigenciaInfo" value="3" />    <!--vigencia de la contraseña en meses de 30 dias-->
    <add key="VigenciaTmp" value="45" />    <!--vigencia de la contraseña temporal en minutos-->
    <!--
      Variables de FONADE clásico "Application".
      Para consultar "posibles" variables omitidas en este documento, buscar
      el documento "ServerVariables.asp" en la carpeta del código fuente del sistema clásico.
    -->
    <add key="WebSite" value="FONDOEMPRENDER" />
    <add key="MailServer" value="mail.fondoemprender.com" />
    <add key="Email" value="info@fondoemprender.com" />

    <add key="EmailOperadorEnterritorio" value="fondoemprender@enterritorio.gov.co" />
    <add key="EmailOperadorNacional" value="contactfe_fibog@unal.edu.co" />

    <add key="EmailComportamientoEmprendedor" value="wdazan@sena.edu.co" />

    <add key="RutaHttp" value="http://10.3.3.111:90/" />
   
    <add key="RutaDocumentosEnRed" value="\\192.168.213.249\Documentos" />
    
    <add key="DirVirtual" value="Documentos\" />
    <add key="DirVirtual2" value="Documentos/" />
    <add key="ModeloFinanciero" value="ModeloFinanciero\" />

    <add key="RutaDocumentos" value="M:\" />
    <!--Ruta de carpetas definitivas"-->
    <add key="RutaDocumentosPagos" value="M:\PagosFonade\" />
    <add key="RutaDocumentosInformeFinal" value="M:\InformeFinal\" />
    <add key="RutaDocumentosInterventoria" value="M:\InterventoriaProyecto\" />
    <add key="RutaDocumentosCargoNomina" value="M:\CargoNominaProyecto\" />
    <add key="RutaDocumentosProduccion" value="M:\ProduccionProyecto\" />
    <add key="RutaDocumentosVentas" value="M:\VentasProyecto\" />
    <add key="RutaDocumentosProyecto" value="M:\Proyecto\" />
    <add key="RutaDocumentosEvaluacion" value="\\192.168.213.249\Documentos\EvaluacionProyecto\" />
    <add key="RutaDocumentosZIPContratos" value="M:\contratos\zip\" />
    <add key="RutaDocumentosContactoAnexos" value="M:\contactoAnexos\" />

    <add key="RutaDocumentosConvocatoriasExcel" value="M:\ConvocatoriasAcreditacionExcel\" />
    <add key="RutaHttpArchivosExcelActas" value="http://www.fondoemprender.com:8080/Documentos/ConvocatoriasAcreditacionExcel/" />

    <add key="RutaDocumentosTEMP" value="Z:\DOC_TEMP\" />
    <add key="RutaDocumentosPagos_TEMP" value="E:\DOC_TEMP\PagosFonade\" />
    <add key="RutaDocumentosInformeFinal_TEMP" value="E:\DOC_TEMP\InformeFinal\" />
    <add key="RutaDocumentosInterventoria_TEMP" value="E:\DOC_TEMP\InterventoriaProyecto\" />
    <add key="RutaDocumentosCargoNomina_TEMP" value="E:\DOC_TEMP\CargoNominaProyecto\" />
    <add key="RutaDocumentosProduccion_TEMP" value="E:\DOC_TEMP\ProduccionProyecto\" />
    <add key="RutaDocumentosVentas_TEMP" value="E:\DOC_TEMP\VentasProyecto\" />
    <add key="RutaDocumentosProyecto_TEMP" value="E:\DOC_TEMP\Proyecto\" />
    <add key="RutaDocumentosEvaluacion_TEMP" value="\\192.168.213.249\Documentos\DOC_TEMP\EvaluacionProyecto\" />
    <add key="RutaDocumentosZIPContratos_TEMP" value="E:\DOC_TEMP\contratos\zip\" />
    <add key="RutaDocumentosContactoAnexos_TEMP" value="E:\DOC_TEMP\contactoAnexos\" />

    <add key="SMLV2004" value="358000" />
    <add key="SMLV2005" value="381500" />
    <add key="SMLV2006" value="408000" />
    <add key="SMLV2007" value="433700" />
    <add key="SMLV2008" value="461500" />
    <add key="SMLV2009" value="496900" />
    <add key="SMLV2010" value="515000" />
    <add key="SMLV2011" value="535600" />
    <add key="SMLV2012" value="589500" />

    <add key="APP_Clave_Historial" value="3" />
    <add key="APP_Clave_Dificultad" value="Alta" />
    <add key="APP_Clave_IntentosAcceso" value="5" />
    <add key="APP_Clave_LongitudMax" value="150" />
    <add key="APP_Clave_LongitudMin" value="8" />
    <add key="APP_Clave_ValidarMayusculas" value="Si" />

    <!--Actualizar el valor de la configuración con el URL de imagen predeterminada en el servidor-->
    <!--<add key="logoEmail" value="~/Images/LogoFondoEmprender2.JPG" />-->
    <add key="logoEmail" value="styles/image/logo_fondoemprender.png" />

    <!--Actualizar el valor de la configuración con el URI del directorio de servidor de archivos-->
    <add key="FolderActas" value="\\192.168.213.249\Documentos\FolderActas\" />
    <!--Actualizar el valor de la configuración con el Id del Rol definido para esta asignación-->
    <add key="IdRol" value="1" />
    <!--Actualizar el valor de la configuración con el Id del Grupo Jefe de Unidad definido para esta asignación-->
    <add key="CodGrupo" value="4" />
    <!--Actualizar el valor de la configuración con el URI del directorio de servidor de archivos-->
    <!--<add key="FileServer" value="http:\\10.3.3.111:5153/FonadeDocumentos/CargueMasivo/{0}" />-->
    <add key="FileServer" value="\\192.168.213.249\Documentos\FonadeDocumentos\CargueMasivo\{0}" />
    <add key="FServerNuevo" value="\\\" />
    <!--Actualizar el valor de la configuración con el URI del directorio de servidor de archivos de soporte Avance-->
    <!--<add key="Avance" value="D:\Visual Studio 2013\Projects\DominioPublico\Desarrollo\fonade\Desarrollo\Fonade\FonadeDocumentos\{0}\{1}\{2}\{3}" />-->

    <!--Registra los valores de consultas en el log de aplicaciones-->
    <add key="check4" value="0" />
    <!--Ruta de acceso al ejecutable de verificacion de acceso Certicamara-->
    <add key="certicamaraExc" value="C:\\signtkfonade\\GenSign.exe 3" />
    <!--Parametro de inicio del ejecutable de verificacion de acceso Certicamara-->
    <add key="certicamaraPmt" value="3" />
    <!--Parametro de validaciones del ejecutable de verificacion de acceso Certicamara-->
    <add key="certicamaraExp" value="/[A-Z,0-9]/g" />
    <!--Parametro de control de ejecucion funcionalidad verificacion acceso Certicamara 0 no valida 1 valida-->
    <add key="certicamaraVldt" value="0" />
  </appSettings>
  <location path="Styles">
    <system.web>
      <authorization>
        <allow users="*" />
      </authorization>
      <compilation debug="true" batch="false" />
     
      <pages validateRequest="false "></pages>
    </system.web>
  </location>
  <location path="ObservaEvaluacion">
    <system.web>
      <authorization>
        <allow users="*" />
      </authorization>
      <compilation debug="true" batch="false" />
      <pages validateRequest="false "></pages>
    </system.web>
  </location>
  <location path="Images/Img">
    <system.web>
      <authorization>
        <allow users="*" />
      </authorization>
      <compilation debug="true" batch="false" />
      <pages validateRequest="false "></pages>
    </system.web>
  </location>
  <location path="RegistroUnico">
    <system.web>
      <authorization>
        <allow users="*" />
      </authorization>
      <compilation debug="true" batch="false" />
      <pages validateRequest="false "></pages>
    </system.web>
  </location>
  <location path="HubEmprendimiento">
    <system.web>
      <authorization>
        <allow users="*" />
      </authorization>
      <compilation debug="true" batch="false" />
      <pages validateRequest="false "></pages>
    </system.web>
  </location>
  <location path="Status">
    <system.web>
      <authorization>
        <allow users="*" />
      </authorization>
      <compilation debug="true" batch="false" />
      <pages validateRequest="false "></pages>
    </system.web>
  </location>
  <system.web> 
    <httpRuntime requestValidationMode="2.0" maxRequestLength="104857600" />
    <compilation debug="true" targetFramework="4.0" explicit="true" strict="false">
      <assemblies>
        <add assembly="System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" />
        <add assembly="System.ServiceModel.Activation, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" />
        <add assembly="System.Runtime.Serialization, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089" />
        <add assembly="System.Web.ApplicationServices, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" />
        <add assembly="System.ServiceModel, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089" />
        <add assembly="System.Core, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089" />
        <add assembly="System.Data.Linq, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089" />
        <add assembly="System.Windows.Forms, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089" />
        <add assembly="System.ServiceModel.Web, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" />
        <add assembly="System.Data.Services.Client, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089" />
        <add assembly="System.Data.Services.Design, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089" />
        <add assembly="System.Data.Entity, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089" />
        <add assembly="System.Design, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A" />
        <add assembly="Microsoft.ReportViewer.Common, Version=14.0.0.0, Culture=neutral, PublicKeyToken=89845DCD8080CC91" />
        <add assembly="Microsoft.ReportViewer.WebForms, Version=14.0.0.0, Culture=neutral, PublicKeyToken=89845DCD8080CC91" />
      </assemblies>
      <buildProviders>
        <add extension=".rdlc" type="Microsoft.Reporting.RdlBuildProvider, Microsoft.ReportViewer.WebForms, Version=14.0.0.0, Culture=neutral, PublicKeyToken=89845DCD8080CC91" />
      </buildProviders>
    </compilation>
    <caching>
      <sqlCacheDependency enabled="true" pollTime="51000">
        <databases>
          <add name="ApplicationServices" connectionStringName="ApplicationServices" pollTime="51000" />
        </databases>
      </sqlCacheDependency>
    </caching>
    <sanitizer defaultProvider="HtmlAgilityPackSanitizerProvider">
      <providers>
        <add name="HtmlAgilityPackSanitizerProvider" type="AjaxControlToolkit.Sanitizer.HtmlAgilityPackSanitizerProvider" />
      </providers>
    </sanitizer>
    <authentication mode="Forms">
      <forms loginUrl="~/Account/Login.aspx" defaultUrl="~/Fonade/MiPerfil/Home.aspx" requireSSL="false" slidingExpiration="true" timeout="1440" />
    </authentication>
    <membership defaultProvider="FonadeMembershipProvider">
      <providers>
        <clear />
        <add name="FonadeMembershipProvider" type="Fonade.Account.FonadeMembershipProvider" connectionStringName="ApplicationServices" enablePasswordRetrieval="false" enablePasswordReset="true" requiresQuestionAndAnswer="false" requiresUniqueEmail="false" maxInvalidPasswordAttempts="5" minRequiredPasswordLength="6" minRequiredNonalphanumericCharacters="0" passwordAttemptWindow="10" applicationName="/" />
      </providers>
    </membership>
    <profile>
      <providers>
        <clear />
        <add name="FonadeProfileProvider" type="System.Web.Profile.SqlProfileProvider" connectionStringName="ApplicationServices" applicationName="/" />
      </providers>
    </profile>
    <roleManager enabled="false">
      <providers>
        <clear />
        <add name="FonadeRoleProvider" type="System.Web.Security.SqlRoleProvider" connectionStringName="ApplicationServices" applicationName="/" />
        <add name="AspNetWindowsTokenRoleProvider" type="System.Web.Security.WindowsTokenRoleProvider" applicationName="/" />
      </providers>
    </roleManager>
    <authorization>
      <deny users="?" />
    </authorization>
    <pages smartNavigation="true" maintainScrollPositionOnPostBack="true">
      <controls>
        <add tagPrefix="ajaxToolkit" assembly="AjaxControlToolkit" namespace="AjaxControlToolkit" />
      <add assembly="BotDetect" namespace="BotDetect.Web.UI" tagPrefix="BotDetect" /></controls>
    </pages>
    <customErrors allowNestedErrors="false" defaultRedirect="~/customError.htm" mode="RemoteOnly" />
     <!--<sessionState
	        mode="StateServer"
	        stateConnectionString="tcpip=localhost:42424"
          cookieless="false"
    />-->
   <sessionState mode="InProc" cookieless="false" timeout="20" />
    <!--<httpHandlers> 1440
      <add path="Reserved.ReportViewerWebControl.axd" verb="*" type="Microsoft.Reporting.WebForms.HttpHandler, Microsoft.ReportViewer.WebForms, Version=14.0.0.0, Culture=neutral, PublicKeyToken=89845DCD8080CC91" validate="false" />
    </httpHandlers>-->
    

  </system.web>
  <system.webServer>

    <security>
      <requestFiltering>
        <requestLimits maxAllowedContentLength="334217728" />
      </requestFiltering>
    </security>
    
    <httpErrors errorMode="Custom">
      <remove statusCode="500" subStatusCode="-1" />
      <remove statusCode="404" subStatusCode="-1" />
      <error statusCode="404" subStatusCode="-1" prefixLanguageFilePath="" path="/*****.aspx" responseMode="ExecuteURL" />
      <error statusCode="500" subStatusCode="-1" prefixLanguageFilePath="" path="/*****.aspx" responseMode="ExecuteURL" />
    </httpErrors>
    <httpProtocol>
      <customHeaders>
        <clear />
        <add name="X-UA-Compatible" value="IE=edge,chrome=1" />
        <add name="Access-Control-Allow-Origin" value="*" />
        <add name="Access-Control-Allow-Headers" value="Content-Type" />
        <add name="Access-Control-Allow-Methods" value="POST,GET,OPTIONS" />
      </customHeaders>
    </httpProtocol>
    <modules runAllManagedModulesForAllRequests="true" />
    <directoryBrowse enabled="true" showFlags="Date, Time, Size, Extension, LongDate" />
    <defaultDocument>
      <files>
        <add value="Fonade/Miperfil/Home.aspx" />
      </files>
    </defaultDocument>
    
    <handlers>
      <add name="ReportViewerWebControlHandler" verb="*" path="Reserved.ReportViewerWebControl.axd" preCondition="integratedMode" type="Microsoft.Reporting.WebForms.HttpHandler, Microsoft.ReportViewer.WebForms, Version=14.0.0.0, Culture=neutral, PublicKeyToken=89845DCD8080CC91" />
    </handlers>
  </system.webServer>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="AjaxMin" publicKeyToken="21ef50ce11b5d80f" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-5.3.5068.16458" newVersion="5.3.5068.16458" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="itextsharp" publicKeyToken="8354ae6d2174ddca" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-5.1.1.0" newVersion="5.1.1.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Data.SQLite" publicKeyToken="db937bc2d44ff139" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-1.0.112.0" newVersion="1.0.112.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>

  <!--Para que puedan cargar la cantidad de programas en un listado 
  Registro Unico-->
  <system.web.extensions>
    <scripting>
      <webServices>
        <jsonSerialization maxJsonLength="50000000" />
      </webServices>
    </scripting>
  </system.web.extensions>
</configuration>
